---
- name: Remove {{ gitea_customize_lab_username }}-env-gitops.git
  ansible.builtin.shell: |
    rm -rf /tmp/{{ gitea_customize_lab_username }}-env-gitops.git

- name: Clone env-gitops
  ansible.builtin.git:
    repo: https://{{ gitea_customize_gitea_admin_user }}:{{ gitea_customize_gitea_admin_password }}@{{
          gitea_customize_gitea_endpoint }}/{{ gitea_customize_gitea_admin_user }}/{{
          gitea_customize_lab_username }}-env-gitops.git
    dest: /tmp/{{ gitea_customize_lab_username }}-env-gitops
    single_branch: yes
    version: main

- name: Fetch values.yaml file from remote host
  run_once: true
  ansible.builtin.fetch:
    src: /tmp/{{ gitea_customize_lab_username }}-env-gitops/values.yaml
    dest: /tmp/dest/values.yaml
    flat: true
    fail_on_missing: true

- name: Apply template /tmp/{{ gitea_customize_lab_username }}-env-gitops/values.yaml
  ansible.builtin.template:
    src: /tmp/dest/values.yaml
    dest: /tmp/{{ gitea_customize_lab_username }}-env-gitops/values.yaml

- name: Add new files to the repository
  ansible.builtin.command:
    chdir: >-
      /tmp/{{ gitea_customize_lab_username }}-env-gitops
    cmd: "git add ."
  ignore_errors: true

- name: Commit changes to the repository
  ansible.builtin.command:
    chdir: >-
      /tmp/{{ gitea_customize_lab_username }}-env-gitops
    cmd: >-
      git commit -a -m 'Updates for starting scenario.'
  ignore_errors: true

- name: Push all changes back to the project repository
  ansible.builtin.command:
    chdir: >-
      /tmp/{{ gitea_customize_lab_username }}-env-gitops
    cmd: >-
      git push

- name: Clone pipeline-gitops
  ansible.builtin.git:
    repo: https://{{ gitea_customize_gitea_admin_user }}:{{ gitea_customize_gitea_admin_password }}@{{
          gitea_customize_gitea_endpoint }}/{{ gitea_customize_lab_username }}/customers-pipeline-gitops.git
    dest: /tmp/{{ gitea_customize_lab_username }}-customers-pipeline-gitops
    single_branch: yes
    version: main

- name: Fetch values.yaml file from remote host
  run_once: true
  ansible.builtin.fetch:
    src: /tmp/{{ gitea_customize_lab_username }}-customers-pipeline-gitops/values.yaml
    dest: /tmp/dest/values.yaml
    flat: true
    fail_on_missing: true

- name: Apply template /tmp/{{ gitea_customize_lab_username }}-pipeline-gitops.git
  ansible.builtin.template:
    src: /tmp/dest/values.yaml
    dest: /tmp/{{ gitea_customize_lab_username }}-customers-pipeline-gitops/values.yaml

- name: Add new files to the repository
  ansible.builtin.command:
    chdir: >-
      /tmp/{{ gitea_customize_lab_username }}-customers-pipeline-gitops
    cmd: "git add ."
  ignore_errors: true

- name: Commit changes to the repository
  ansible.builtin.command:
    chdir: >-
      /tmp/{{ gitea_customize_lab_username }}-customers-pipeline-gitops
    cmd: >-
      git commit -a -m 'Updates for starting scenario.'
  ignore_errors: true

- name: Push all changes back to the project repository
  ansible.builtin.command:
    chdir: >-
      /tmp/{{ gitea_customize_lab_username }}-customers-pipeline-gitops
    cmd: >-
      git push