---
- name: Retrieve Ingress config
  kubernetes.core.k8s_info:
    api_version: config.openshift.io/v1
    kind: Ingress
    name: cluster
  register: r_ingress_config

- name: Set Template variables
  ansible.builtin.set_fact:
    gitea_customize_gitea_endpoint: gitea.{{ r_ingress_config.resources[0].spec.host }}
    gitea_customize_apps_subdomain: "{{ r_ingress_config.resources[0].spec.domain }}"
    gitea_customize_quay_server: quay-{{ guid }}.{{ r_ingress_config.resources[0].spec.domain }}

- name: Import customers-app repository
  include_tasks: migrate_repos.yml
  loop: "{{ gitea_customize_gitea_public_repos }}"

- name: Pause for gitea migration completion
  ansible.builtin.pause:
    minutes: 2

- name: Apply user templating
  include_tasks: apply_user_templating.yml
  loop: "{{ range(0, gitea_customize_gitea_num_users | int, 1) | list }}"
  loop_control:
    loop_var: n
  vars:
    index: "{{ n | int + 1 }}"
    gitea_customize_lab_username: "{{ gitea_customize_gitea_user_name_base }}{{ index }}"