apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/requester: {{ ocp4_username }}
  labels:
    rhdh.redhat.com/workflow-namespace: ''
  name: {{ vault_customize_sonataflow_namespace }}