kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-intra-namespace
  namespace: {{ vault_customize_sonataflow_namespace }}
  annotations:
    meta.helm.sh/release-name: orchestrator-rhdh
    meta.helm.sh/release-namespace: openshift-operators
  labels:
    app.kubernetes.io/managed-by: Helm
spec:
  podSelector: {}
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ vault_customize_backstage_namespace }}
  policyTypes:
    - Ingress
status: {}
