apiVersion: rhdh.redhat.com/v1alpha2
kind: Orchestrator
metadata:
  name: orchestrator-rhdh
  namespace: openshift-operators
spec:
  networkPolicy:
    rhdhNamespace: {{ vault_customize_backstage_namespace }}
  argocd:
    enabled: false
  orchestrator:
    namespace: {{ vault_customize_sonataflow_namespace }}
    sonataflowPlatform:
      resources:
        limits:
          cpu: 500m
          memory: 1Gi
        requests:
          cpu: 250m
          memory: 64Mi
  postgres:
    authSecret:
      name: sonataflow-psql-postgresql
      passwordKey: postgres-password
      userKey: postgres-username
    database: sonataflow
    serviceName: sonataflow-psql-postgresql
    serviceNamespace: {{ vault_customize_sonataflow_namespace }}
  rhdhOperator:
    enabled: false
  serverlessOperator:
    enabled: {{ vault_customize_orchestrator_serverless_enabled }}
    subscription:
      channel: stable
      installPlanApproval: Automatic
      name: serverless-operator
      namespace: openshift-serverless
      sourceName: redhat-operators
  sonataFlowOperator:
    enabled: true
    isReleaseCandidate: false
    subscription:
      channel: alpha
      installPlanApproval: Automatic
      name: {{ vault_customize_orchestrator_serverless_name }}
      namespace: openshift-serverless-logic
      sourceName: redhat-operators
      startingCSV: {{ vault_customize_orchestrator_serverless_starting_csv }}
  tekton:
    enabled: false
