---
- name: Create access scope
  uri:
    url: "{{ stackrox_customize_stackrox_url }}/v1/simpleaccessscopes"
    user: "{{ stackrox_customize_stackrox_admin }}"
    password: "{{ stackrox_customize_stackrox_admin_password }}"
    force_basic_auth: true
    method: POST
    headers:
      Content-Type: "application/json"
    body_format: json
    body:
      name: "analyst-{{ stackrox_customize_username }}"
      rules:
        includedNamespaces:
        - clusterName: "production"
          namespaceName: "customers-{{ stackrox_customize_username }}"
    validate_certs: false
  register: r_as_response

- name: Create access scope role
  uri:
    url: "{{ stackrox_customize_stackrox_url }}/v1/roles/analyst-{{ stackrox_customize_username }}"
    user: "{{ stackrox_customize_stackrox_admin }}"
    password: "{{ stackrox_customize_stackrox_admin_password }}"
    force_basic_auth: true
    method: POST
    headers:
      Content-Type: "application/json"
    body_format: json
    body:
      permissionSetId: "{{ stackrox_customize_analyst_permission_set_id }}"
      accessScopeId: "{{ r_as_response.json.id }}"
    validate_certs: false

- name: Create group for user rule
  uri:
    url: "{{ stackrox_customize_stackrox_url }}/v1/groups"
    user: "{{ stackrox_customize_stackrox_admin }}"
    password: "{{ stackrox_customize_stackrox_admin_password }}"
    force_basic_auth: true
    method: POST
    headers:
      Content-Type: "application/json"
    body_format: json
    body:
      props:
        authProviderId: "{{ stackrox_customize_auth_provider_id }}"
        key: userid
        value: "{{ stackrox_customize_username }}"
      roleName: analyst-{{ stackrox_customize_username }}
    validate_certs: false