apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault
  namespace: openshift-gitops
spec:
  destination:
    namespace: {{ bootstrap_vault_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    path: charts/hashicorp-vault
    repoURL: {{ bootstrap_agnosticg_repo }}
    targetRevision: HEAD
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true