[Unit]
Description=Ripper Service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/podman-compose -f /root/compose.yml up -d
ExecStop=/usr/bin/podman-compose -f /root/compose.yml down
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target default.target