---
apiVersion: v1
kind: Secret
metadata:
  name: {{ argo_customize_gitea_user_name_base }}{{ index }}-customers-gitops-repo
  namespace: customers-{{ argo_customize_gitea_user_name_base }}{{ index }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://{{ argo_customize_gitea_endpoint }}/{{ argo_customize_gitea_user_name_base }}{{ index }}/customers-gitops.git
  username: {{ argo_customize_gitea_user_name_base }}{{ index }}
  password: {{ argo_customize_gitea_user_password }}
