---
apiVersion: v1
kind: Secret
metadata:
  name: leaderboard-repo
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://{{ argo_customize_gitea_endpoint }}/{{
    argo_customize_gitea_admin_user }}/leaderboard-gitops.git
  username: {{ argo_customize_gitea_admin_user }}
  password: {{ argo_customize_gitea_admin_password }}
