---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ argo_customize_gitea_user_name_base }}{{ index }}-customers-manifests
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ argo_customize_gitea_user_name_base }}{{ index }}
  source:
    repoURL: {{ argo_customize_gitea_endpoint }}/{{ argo_customize_gitea_user_name_base }}{{ index }}/customers-gitops.git
    targetRevision: HEAD
    path: .
    helm:
      parameters:
      - name: namespace.name
        value: customers-{{ argo_customize_gitea_user_name_base }}{{ index }}
      - name: environment
        value: dev
      - name: image.tag
        value: latest
  destination:
    server: https://kubernetes.default.svc
    namespace: customers-{{ argo_customize_gitea_user_name_base }}{{ index }}
  ignoreDifferences:
    - group: '*'
      jqPathExpressions:
        - '.imagePullSecrets[] | select(.name | contains("-dockercfg-"))'
      kind: ServiceAccount
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - ApplyOutOfSyncOnly=true
    - CreateNamespace=true
    retry:
      limit: -1
      backoff:
        duration: 5s # the amount to back off. Default unit is seconds, but could also be a duration (e.g. "2m", "1h")
        factor: 2 # a factor to multiply the base duration after each failed retry
        maxDuration: 2m # the maximum amount of time allowed for the backoff strategy
