apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ argo_customize_argo_user_name_base }}{{ index }}
spec:
  destinations:
    - name: local
      namespace: customers-{{ argo_customize_argo_user_name_base }}{{ index }}
      server: 'https://kubernetes.default.svc'
  sourceRepos:
    - '*'
  clusterResourceWhitelist:
  - group: ''
    kind: Namespace
  - group: 'rbac.authorization.k8s'
    kind: ClusterRoleBinding
