kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ argo_customize_argo_user_name_base }}{{ index }}-pod-rolebinding
subjects:
  - apiGroup: rbac.authorization.k8s.io
    kind: User
    name: {{ argo_customize_argo_user_name_base }}{{ index }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ argo_customize_argo_user_name_base }}{{ index }}-terminal
